<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Yoga: Medium &amp; Advance Levels</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Advanced Yoga Workout: Challenge Your Strength</string>
			<key>Description</key>
			<string>18 min</string>
			<key>URL</key>
			<string>https://www.youtube.com/watch?v=t2z8ZsAP2Vw</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Intermediate Power Yoga</string>
			<key>Description</key>
			<string>20 min</string>
			<key>URL</key>
			<string>https://youtu.be/ZbtVVYBLCug?si=kKusOBR9NJHeanWO</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Intermediate Yoga Total Body Flow</string>
			<key>Description</key>
			<string>26 min</string>
			<key>URL</key>
			<string>https://www.youtube.com/watch?v=tUrcuQIzGmw</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Advanced Total Body Yoga: Reconnected Through Bliss</string>
			<key>Description</key>
			<string>26 min</string>
			<key>URL</key>
			<string>https://youtu.be/HhHeKqdcAcY?si=roLAw8VH7IWqSt4R</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Intermediate Yoga: Expand Your Yoga Practice At Home</string>
			<key>Description</key>
			<string>30 min</string>
			<key>URL</key>
			<string>https://youtu.be/SrE1B5GzUpM?si=F9b4PIud_2h92RY3</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Daily Intermediate Yoga</string>
			<key>Description</key>
			<string>26 min</string>
			<key>URL</key>
			<string>https://youtu.be/ivCQEbf_8wU?si=ZIVPBaI1HGn4iPLk</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Intermediate Yoga: Stress Release Flow</string>
			<key>Description</key>
			<string>21 min</string>
			<key>URL</key>
			<string>https://youtu.be/29noBUQoZZI?si=L6fr7cEkoxV2KWQO</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Advanced Yoga: Challenge Your Balance</string>
			<key>Description</key>
			<string>18 min</string>
			<key>URL</key>
			<string>https://youtu.be/t2z8ZsAP2Vw?si=BQ_BLhWFS-cF8Eke</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Advanced Yoga Flow With Minimal Cues</string>
			<key>Description</key>
			<string>50 min</string>
			<key>URL</key>
			<string>https://youtu.be/5AXUBLOUL4E?si=bryolAxCzCmSiUzo</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Power Vinyasa Flow</string>
			<key>Description</key>
			<string>21 min</string>
			<key>URL</key>
			<string>https://youtu.be/yRCUfumiqhk?si=56a1skacqvDoBh6H</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Cardio Focused Power Vinyasa Yoga</string>
			<key>Description</key>
			<string>20 min</string>
			<key>URL</key>
			<string>https://youtu.be/GiP1D86CU78?si=GBvQgDwZXBHNK2hI</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Vinyasa Sequence For Strength</string>
			<key>Description</key>
			<string>40 min</string>
			<key>URL</key>
			<string>https://youtu.be/9kOCY0KNByw?si=V346OMkx-bv2uLio</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Yoga For Weight Loss: Strengthen and Lengthen</string>
			<key>Description</key>
			<string>40 min</string>
			<key>URL</key>
			<string>https://youtu.be/6UEWJsljPVM?si=5-RKsRDw5lbKhODP</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Yoga For Weight Loss: Hips and Core Vinyasa</string>
			<key>Description</key>
			<string>12 min</string>
			<key>URL</key>
			<string>https://youtu.be/dcqW72d5JjI?si=--uKcHrJAW-0LcZy</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Advance Total Body Yoga: Deep Stretch </string>
			<key>Description</key>
			<string>45 min</string>
			<key>URL</key>
			<string>https://youtu.be/GLy2rYHwUqY?si=n9TNvC_RlfIvVCtx</string>
		</dict>
	</array>
	<key>Yoga: Begginer &amp; All Levels</key>
	<array>
		<dict>
			<key>Title </key>
			<string>Full Body Yoga Stretch</string>
			<key>Description</key>
			<string>30 min</string>
			<key>URL</key>
			<string>https://youtu.be/6hZIzMpHl-c?si=6eKUA01jcAhwcQgl</string>
		</dict>
		<dict>
			<key>Title </key>
			<string>Morning Yoga for Beginners</string>
			<key>Description</key>
			<string>10 min</string>
			<key>URL</key>
			<string>https://www.youtube.com/watch?v=VaoV1PrYft4</string>
		</dict>
		<dict>
			<key>Title </key>
			<string>Every Day Full Body Yoga For All Levels</string>
			<key>Description</key>
			<string>20 min</string>
			<key>URL</key>
			<string>https://youtu.be/HoZHdbeqpkg?si=GlJqz2RS_Iv6yhdH</string>
		</dict>
		<dict>
			<key>Title </key>
			<string>Daily Yoga Flow</string>
			<key>Description</key>
			<string>20 min</string>
			<key>URL</key>
			<string>https://youtu.be/sOjXETbN32g?si=mjekZfI8nobkzStw</string>
		</dict>
		<dict>
			<key>Title </key>
			<string>Yoga: Stress &amp; Anxiety</string>
			<key>Description</key>
			<string>10 min</string>
			<key>URL</key>
			<string>https://youtu.be/8TuRYV71Rgo?si=CI2v_2Pj5pT0AvD4</string>
		</dict>
		<dict>
			<key>Title </key>
			<string>Bedtime Yoga Stretch to Release Tension &amp; Stress</string>
			<key>Description</key>
			<string>13 min</string>
			<key>URL</key>
			<string>https://youtu.be/4TQsfBYCyKQ?si=I3ugZmZhTvWn42xR</string>
		</dict>
		<dict>
			<key>Title </key>
			<string>Evening Yoga + Savasana</string>
			<key>Description</key>
			<string>20 min</string>
			<key>URL</key>
			<string>https://youtu.be/Av7yZ_2yl2A?si=fU8CYE0pQHhLPYGK</string>
		</dict>
		<dict>
			<key>Title </key>
			<string>Daily Full Body Stretching Yoga</string>
			<key>Description</key>
			<string>15 min</string>
			<key>URL</key>
			<string>https://youtu.be/5Ju3XvZ6S1Q?si=Vk5Pmd_cOpHLu0aB</string>
		</dict>
		<dict>
			<key>Title </key>
			<string>Short Yoga Stretch Break </string>
			<key>Description</key>
			<string>15 min</string>
			<key>URL</key>
			<string>https://youtu.be/xfhfltT2Keo?si=76amMN1Flo4LRQwH</string>
		</dict>
		<dict>
			<key>Title </key>
			<string>Full Body Stretch for Sore Muscles &amp; Tension Relief</string>
			<key>Description</key>
			<string>17 min</string>
			<key>URL</key>
			<string>https://youtu.be/TDTR9iNWW_0?si=kcf2NsevRULXzNO-</string>
		</dict>
		<dict>
			<key>Title </key>
			<string>Yoga Stretch for Stress &amp; Anxiety Relief</string>
			<key>Description</key>
			<string>15 min</string>
			<key>URL</key>
			<string>https://youtu.be/yqeirBfn2j4?si=UuFzpP0U9sV5P0h6</string>
		</dict>
		<dict>
			<key>Title </key>
			<string>Yoga Stress Relief</string>
			<key>Description</key>
			<string>15 min</string>
			<key>URL</key>
			<string>https://youtu.be/hJbRpHZr_d0?si=ZMhty8KTyKq0Fbll</string>
		</dict>
		<dict>
			<key>Title </key>
			<string>Flexibility Stretch for Beginners</string>
			<key>Description</key>
			<string>22 min</string>
			<key>URL</key>
			<string>https://youtu.be/I9ZRSpLTSu8?si=Qb9X7yLysZRrJlNB</string>
		</dict>
		<dict>
			<key>Title </key>
			<string>Daily Routine for Flexibility, Mobility &amp; Relaxation</string>
			<key>Description</key>
			<string>15 min</string>
			<key>URL</key>
			<string>https://youtu.be/g_tea8ZNk5A?si=cniriHoGPBlNQnJf</string>
		</dict>
		<dict>
			<key>Title </key>
			<string>Bedtime Yoga for Insomnia</string>
			<key>Description</key>
			<string>6 min</string>
			<key>URL</key>
			<string>https://youtu.be/SqFniT-Oyt8?si=VHNza7Y2eTNBckXI</string>
		</dict>
	</array>
	<key>Daily Meditation</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Yoga Nigra: Developing an Inner Resource</string>
			<key>Description</key>
			<string>11 min</string>
			<key>URL</key>
			<string>https://youtu.be/M_cCUH35lgg?si=_9owcvHAr5XGNE9I</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Yoga Nigra: NSDR Reset</string>
			<key>Description</key>
			<string>11 min</string>
			<key>URL</key>
			<string>https://youtu.be/n616jC5PN4Q?si=49ZQf0uQGfIFY-x-</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Yoga Nigra: Working with Core Beliefs</string>
			<key>Description</key>
			<string>19 min</string>
			<key>URL</key>
			<string>https://youtu.be/wwfXQG5r8tU?si=Y3mxqjW0VGvElreM</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Yoga Nigra: Welcoming Emotions Practice</string>
			<key>Description</key>
			<string>29 min</string>
			<key>URL</key>
			<string>https://youtu.be/MMK4WM16Yd0?si=1AbVnQP2vF2TpO3y</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Yoga Nigra: Body Scan Practice</string>
			<key>Description</key>
			<string>15 min</string>
			<key>URL</key>
			<string>https://youtu.be/78_uodnmqDQ?si=2EHv-6laH4fE3F-0</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Yoga Nigra: Practice for Begginers</string>
			<key>Description</key>
			<string>34 min</string>
			<key>URL</key>
			<string>https://youtu.be/al0SBjxeSQg?si=cKTLqzme3UaYwZdP</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Mindfulness Breathing Meditation</string>
			<key>Description</key>
			<string>10 min</string>
			<key>URL</key>
			<string>https://youtu.be/_A1XUexzwKY?si=70f1T7gyU0VZJDUr</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Loving-Kindness Meditation</string>
			<key>Description</key>
			<string>10 min</string>
			<key>URL</key>
			<string>https://youtu.be/BatgaOu8vSM?si=C_04_VFggnZmpqBB</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Non-Sleep Deep Rest</string>
			<key>Description</key>
			<string>24 min</string>
			<key>URL</key>
			<string>https://youtu.be/pL02HRFk2vo?si=2XyLutCj0RvCX0EG</string>
		</dict>
	</array>
	<key>Before Sleep Meditation</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Meditation for Sleep &amp; Relaxation</string>
			<key>Description</key>
			<string>12 min</string>
			<key>URL</key>
			<string>https://youtu.be/bG3AcN-XOrw?si=CCxQvZr4FRI-INTA</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Deep Relaxation for Body &amp; Mind</string>
			<key>Description</key>
			<string>20 min</string>
			<key>URL</key>
			<string>https://youtu.be/rvaqPPjtxng?si=FSkdSjGRGahnS5eO</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Meditation: Insomnia &amp; Relax</string>
			<key>Description</key>
			<string>30 min</string>
			<key>URL</key>
			<string>https://youtu.be/8TDcGYmEgyM?si=XqWfiJwORwTtoeEH</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Sleep Meditation</string>
			<key>Description</key>
			<string>10 min</string>
			<key>URL</key>
			<string>https://youtu.be/LWGSwfchz_A?si=FRMI1vi3BG_NRObX</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Yoga Nigra: Fall Asleep Fast</string>
			<key>Description</key>
			<string>60 min</string>
			<key>URL</key>
			<string>https://youtu.be/uRrC3lARyiE?si=sVMDcA6zgfj17T9K</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Yoga Nigra: Insomnia Meditation</string>
			<key>Description</key>
			<string>120 min</string>
			<key>URL</key>
			<string>https://youtu.be/YQgyoX-1qq0?si=FPaMHHLw7bmkNMo0</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>NSDR: Listen before Sleep</string>
			<key>Description</key>
			<string>8 min</string>
			<key>URL</key>
			<string>https://youtu.be/G1kWWXfCzyU?si=we5eweXSaLEF1vyM</string>
		</dict>
	</array>
	<key>Morning Meditation</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Meditate: Be Present</string>
			<key>Description</key>
			<string>10 min</string>
			<key>URL</key>
			<string>https://youtu.be/ZToicYcHIOU?si=K4XlfymPvdSVhGqo</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Meditation for Inner Peace</string>
			<key>Description</key>
			<string>17 min</string>
			<key>URL</key>
			<string>https://youtu.be/UAEqdo0Dn-k?si=wte3qJK5yvcK6aUw</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Meditation: Inner Strength &amp; Alignment</string>
			<key>Description</key>
			<string>15 min</string>
			<key>URL</key>
			<string>https://youtu.be/p5Num5Pg8yo?si=Cof5lwuCcnh10ixk</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Clear your mind in the Morning</string>
			<key>Description</key>
			<string>8 min</string>
			<key>URL</key>
			<string>https://youtu.be/P1w3j3D5LEc?si=0D1-bPrLRgv8m6nN</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Loving Kindness Meditation</string>
			<key>Description</key>
			<string>13 min</string>
			<key>URL</key>
			<string>https://youtu.be/XtlVsVReVZI?si=VnVlbat330sc5nzu</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Meditation: Start Each Day Perfectly</string>
			<key>Description</key>
			<string>10 min</string>
			<key>URL</key>
			<string>https://youtu.be/8_f7ltCNSAQ?si=Rb3PcYkpF2uGF0EH</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Meditation on Clarity &amp; Presence</string>
			<key>Description</key>
			<string>10 min</string>
			<key>URL</key>
			<string>https://youtu.be/OccjH_2ddQc?si=NOpQA3RZa1_1U3XV</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Meditation: Set your Mind for a New Day</string>
			<key>Description</key>
			<string>12 min</string>
			<key>URL</key>
			<string>https://youtu.be/X2OaMAUEPXM?si=VjbVeDqbvlLyCCWu</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Meditative Visualization</string>
			<key>Description</key>
			<string>17 min</string>
			<key>URL</key>
			<string>https://youtu.be/sdBS630gAok?si=fXz2sF9L2aSJSoon</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Powerful Morning Meditation</string>
			<key>Description</key>
			<string>10 min</string>
			<key>URL</key>
			<string>https://youtu.be/DdUm9U9w9W0?si=7Y-AvyfD6jpsI8C2</string>
		</dict>
	</array>
</dict>
</plist>
